 #carousel {
 	position: relative;
 	width: 100%;
 	height: 550px;
 }

 #carousel img {
 	position: absolute;
 	width: 100%;
 	height: 100%;
 }

 #imgId1 {
 	opacity: 1;
 }

 #imgId2 {
 	opacity: 0;
 }

 #imgId3 {
 	opacity: 0;
 }

 #imgId4 {
 	opacity: 0;
 }

 #imgId5 {
 	opacity: 0;
 }

 #carousel ul {
 	width: 100%;
 	position: relative;
 	top: 30%;
 	left: 0;
 	transform: translateX(-50%);
 	text-align: center;
 }

 #carousel ul li {
 	width: 100%;
 	position: absolute;
 	display: inline-block;
 	font-size: 0.24rem;
 	font-weight: lighter;
 	background-color: transparent;
 	color: #eee;
 	letter-spacing: 0.04rem;
 	font-family: "Geneva, Verdana, sans-serif";
 }

 #carousel .subtxt {
 	position: absolute;
 	width: 100%;
 	top: 45%;
 	text-align: center;
 	letter-spacing: 0.04rem;
 	color: #eee;
 	font-size: 0.1rem;
 	font-family: "Geneva, Verdana, sans-serif";
 }

 #carousel .readmore {
 	position: absolute;
 	top: 55%;
 	left: 50%;
 	transform: translateX(-50%);
 	font-size: 0.1rem;
 	letter-spacing: 0.001rem;
 	display: inline-block;
 	padding: 0.05rem 0.14rem;
 	color: #fff;
 	background-color: orangered;

 }

 #carousel .readmore:hover {
 	text-decoration: none;
 }

 #carousel .readmore:hover :before {
 	content: "";
 	position: absolute;
 	z-index: -1;
 	top: 0;
 	bottom: 0;
 	left: 0;
 	right: 0;
 	background: #ff5000;
 	transform: scaleX(1);
 	transform-origin: 50%;
 	transition-property: transform;
 	transition-duration: 0.3s;
 	transition-timing-function: ease-out;
 }


 #leftArrow {
 	position: absolute;
 	left: 48%;
 	transform: translateX(-55%);
 	bottom: 15%;
 	color: #ccc;
 	border-radius: 50%;
 	background: url(../images/left.png) no-repeat center;

 }

 #rightArrow {
 	position: absolute;
 	right: 44%;
 	transform: translateX(-50%);
 	bottom: 15%;
 	color: #ccc;
 	border-radius: 50%;
 	background: url(../images/right.png) no-repeat center;
 	/* background-size: 50%;*/
 }

 @media screen and (max-width:991px) {
 	#carousel {
 		width: 100%;
 		height: 150px;

 	}

 	#carousel ul li {
 		font-size: 0.38rem;
 	}

 	#carousel>p {
 		font-size: 0.3rem;
 		letter-spacing: 0;
 	}

 	#leftArrow {
 		width: 0.36rem !important;
 		height: 0.36rem !important;
 		background-size: 100%;
 		left: 46%;
 	}

 	#rightArrow {
 		width: 0.36rem !important;
 		height: 0.36rem !important;
 		background-size: 100%;
 		right: 42%;
 	}


 }